.accordeon {
  &-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &-item {
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    font-weight: bold;
    background-color: #252525;
    color: #fff;
    transition: .5s;
    &-txt {
      position: relative;
      padding: 35px 70px 35px 0;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #fff;
      }
      &:before {
        right: 0;
        height: 6px;
        width: 30px;
      }
      &:after {
        right: 12px;
        height: 30px;
        width: 6px;
        opacity: 1;
        transition: .1s;
      }
    }
    &:hover {
      background-color: #373737;
      transition: .5s;
    }
    &:last-child {
      border-bottom: none;
    }
    &-dropdown {
      display: none;
      padding: 35px 0;
      font-size: 18px;
      text-transform: none;
      font-weight: 400;
      background-color: #fff;
      color: $base-color;
    }
  }
}
.accordeon-item.active {
  .accordeon-item-txt {
    &:after {
      opacity: 0;
      transition: .1s;
    }
  }
}

@media screen and (max-width: 767px) {
  .accordeon {
    &-item {
      font-size: 20px;
    }
  }
}