$base-color: #5a554b;
$main-color: #dd6f27;
$light-main-color: #f9893f;
$dark-main-color: #9f4e19;
$hover-bg-btn-color: #f2f2f2;
$second-main-color: #00b5af;
$sub-footer-bg-color: #5a554b;
$sub-footer-border-color: #6b665d;
$footer-bg-color: #454139;
$footer-txt-color: #6b665d;
$product-txt-color: #412800;