.product-grid_bgc-main {
  background-color: #ccc;
}
.product-grid_bgc-black {
  background-color: #000;
}
.product-grid_bgc-white {
  background-color: #fff;
}
.product {
  &-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  &-item {
    width: 20%;
    text-align: center;
    &-header {
      font-size: 20px;
      color: $product-txt-color;
    }
    &-more {
      position: relative;
      font-size: 16px;
      line-height: 2;
      color: $main-color;
      &:after {
        content: '+';
        position: absolute;
        top: 50%;
        right: -25px;
        transform: translateY(-50%);
        line-height: 20px;
        width: 20px;
        font-size: 20px;
        border-radius: 50%;
        background-color: $main-color;
        color: #fff;
      }
    }
  }
}

