.product {
  &-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 50px 0;
  }
  &-item {
    width: 20%;
    text-align: center;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(255, 255, 255, .5);
      opacity: 0;
      transition: opacity .5s;
    }
    &-header {
      font-size: 20px;
      color: $product-txt-color;
    }
    &-more {
      font-size: 16px;
      line-height: 2;
      color: $main-color;
    }
    &-layout {
      position: relative;
      &:before {
        opacity: 1;
        transition: opacity .5s;
      }
    }
    &-content {
      text-decoration: none;
      img {
        max-height: 220px;
      }
    }
  }
}